@import 'variables';
@import 'mixins';

// Font
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* ===============================
    GLOBAL STYLES
   =============================== */

img {
  max-width: 100%;
}

.navbar {
  margin-bottom:0;

  .center-buttons {
    padding-top: 7px;
  }

  .navbar-brand {
    font-weight: 700;
  }
}

html, body {
  height: 100%;
  font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}


// MISCELLANEOUS

.browser-warning {
  background: #BD3535;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;

   a {
    color: #fff;
    text-decoration: underline;
  }
}
