<template name="header">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Represent Meteor</a>
        </div>

        <div class="pull-right center-buttons">
          <button type="button" class="btn btn-primary"><i class="fa fa-info"></i> About the Map</button>
          <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#addLocation"><i class="fa fa-plus"></i> Add a Location</button>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  {{> addLocation}}
</template>
